<div class="m-3">
  <%= form_tag import_path, method: :post, multipart: true do %>
    <%= file_field_tag :file, accept: ".csv" %>
    <%= submit_tag 'Import' %>
  <% end %>
</div>
<div class="m-3">
  <%= link_to "Statistiques", bookings_index_path() %>
</div>
